@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Reddit Sans", sans-serif;
}

.merriweather {
    font-family: "Merriweather", serif !important;
}

.btnGrad {
    background: linear-gradient(90deg, #8a5eff 0%, #4675ff 50%, #34cbbf 100%);
   
}
 

img {
    pointer-events: none;
}
